<%if params[:tracker].present?%>
<%=('<option></option>'+options_from_collection_for_select(Tracker.find(params[:tracker]).custom_fields.where(field_format: params[:type]), :id, :name)).html_safe%>
<%else%>
<%='<option></option>'.html_safe%>
<%end%>