<%= error_messages_for @sage_article %>

<fieldset class="box tabular">
  <p>
    <%= f.select :service_id, options_from_collection_for_select(ProjectCustomField.find(Setting.plugin_redmine_facturaplus['service_field']).enumerations, :id, :name, @sage_article.service_id) %>
    <%= f.hidden_field :service_name %>
  </p>
  <p>
    <%= f.text_field :article_id %>
  </p>
</fieldset>

<script>

$(document).ready(function(){
  $('#sage_article_service_name').val($('#sage_article_service_id option:selected').text());

  $(document).on('change', '#sage_article_service_id', function(service_id){
    $('#sage_article_service_name').val($('#sage_article_service_id option:selected').text());
  });
});
</script>